<div >
  <header class="article-header" style="margin-bottom: 50px; margin-left: 0px; padding-left: 5px;">
    <h1 itemprop="name" class="article-title" style="color: #999;">
      Tag: <%- path.split("/")[1] %>
    </h1>
  </header>
</div>
