@media mq-mobile
  #mobile-nav
    position: absolute
    left: 0
    width: mobile-nav-width
    height: 100%
    background: color-mobile-nav-background
    border-right: 1px solid #fff

@media mq-mobile
  .pada
    display: block
    color: #fff
    text-decoration: none
    padding: 15px 30px 0px
    font-weight: medium

@media mq-mobile
  .mobile-nav-link
    display: block
    color: #fff
    text-decoration: none
    padding: 15px 30px 15px
    font-weight: medium
    &:hover
      color: #fff
